In [1]:
import pandas as pd
import numpy as np
from term_overlap_eval import calc_labs, calc_labs2
GOLD_PATH = '../ontology_experiments/results/final_result/gold_annotations_fin_3.csv'
# PRED_PATH = '../ontology_experiments/results/final_results/llama_70B_owl.csv'

dict_pol = {
    'POS': 'positive',
    'NEG': 'negative',
    'NEU': 'neutral'
}
columns_incls = ['id', 'raw_text', 'aspect_term', 'sentiment_expression', 'target_entity', 'aspect_category', 'sentiment_polarity', 'opinion_holder_span', 'opinion_holder_entity', 'sentiment_intensity', 'opinion_qualifier', 'opinion_reason']

In [2]:
from opinion_overlap_eval import OpinionEval
import os

In [3]:
'../ontology_experiments/results/final_result/'
pred_model_dir = '../ontology_experiments/results/final_result/'
mods = os.listdir(pred_model_dir)
owl_res = 'onto_prompt'
nat_lang_res = 'nlprompt'
op_eval = OpinionEval(columns_incls)
gold_df = pd.read_csv(GOLD_PATH).replace({'sentiment_polarity': dict_pol})
fine_res_rows = []
for mod in mods:
    
    if mod not in ['.DS_Store', 'acos-comparison', 'gold_annotations_fin_3.csv', 'mappings_for_comparison']:
        mod_dir_path = os.path.join(pred_model_dir, mod)
        
        owl_res_path = os.path.join(mod_dir_path, owl_res, 'csv')
        nat_lang_path = os.path.join(mod_dir_path, nat_lang_res, 'csv')
        for owl_file in os.listdir(owl_res_path):
            pred_df = pd.read_csv(os.path.join(owl_res_path, owl_file))
            scores = op_eval.eval_opinions(gold_df, pred_df)
            fine_res_rows.append([mod, 'owl', owl_file.replace('.csv', ''), round(scores['precision']*100, 2), round(scores['recall']*100, 2), round(scores['f1']*100, 2)])
        for nat_file in os.listdir(nat_lang_path):
            pred_df = pd.read_csv(os.path.join(nat_lang_path, nat_file))
            scores = op_eval.eval_opinions(gold_df, pred_df)
            fine_res_rows.append([mod, 'natlang', nat_file.replace('.csv', ''), round(scores['precision']*100, 2), round(scores['recall']*100, 2), round(scores['f1']*100, 2)])

In [4]:
df = pd.DataFrame(fine_res_rows, columns=['model', 'prompt', 'variation',  'precision', 'recall', 'f1'])

In [5]:
df

          model   prompt       variation  precision  recall     f1
0     gemma2_9b      owl      ttl_syntax      45.15   46.14  45.64
1     gemma2_9b      owl         owl_xml      44.21   46.14  45.15
2     gemma2_9b      owl  manchester_owl      44.68   46.62  45.63
3     gemma2_9b      owl       owl_funct      40.62   32.97  36.40
4     gemma2_9b      owl         rdf_xml      41.37   33.57  37.07
..          ...      ...             ...        ...     ...    ...
99   mistral_7b  natlang  desc_format_eg      36.93   44.69  40.44
100  mistral_7b  natlang  desc_eg_format      37.58   42.75  40.00
101  mistral_7b  natlang  format_eg_desc      38.92   45.41  41.92
102  mistral_7b  natlang  eg_format_desc      36.21   45.65  40.38
103  mistral_7b  natlang  format_desc_eg      37.85   45.53  41.34

[104 rows x 6 columns]

In [6]:
owl_res = df[df['prompt'] == 'owl']
natlang_res = df[df['prompt'] == 'natlang']

In [7]:
owl_res

           model prompt       variation  precision  recall     f1
0      gemma2_9b    owl      ttl_syntax      45.15   46.14  45.64
1      gemma2_9b    owl         owl_xml      44.21   46.14  45.15
2      gemma2_9b    owl  manchester_owl      44.68   46.62  45.63
3      gemma2_9b    owl       owl_funct      40.62   32.97  36.40
4      gemma2_9b    owl         rdf_xml      41.37   33.57  37.07
5      gemma2_9b    owl      obo_format      44.62   45.59  45.10
6      gemma2_9b    owl          jsonld      44.76   46.38  45.55
13  mixtral_8x7b    owl      ttl_syntax      37.28   50.24  42.80
14  mixtral_8x7b    owl         owl_xml      37.09   48.91  42.19
15  mixtral_8x7b    owl  manchester_owl      37.48   48.61  42.32
16  mixtral_8x7b    owl       owl_funct      37.55   47.34  41.88
17  mixtral_8x7b    owl         rdf_xml      36.20   47.22  40.99
18  mixtral_8x7b    owl      obo_format      37.27   48.07  41.98
19  mixtral_8x7b    owl          jsonld      38.37   49.21  43.12
26        gpt-4o    owl      ttl_syntax      44.98   52.48  48.44
27        gpt-4o    owl         owl_xml      42.61   51.57  46.67
28        gpt-4o    owl  manchester_owl      43.40   51.27  47.01
29        gpt-4o    owl       owl_funct      44.74   51.87  48.04
30        gpt-4o    owl         rdf_xml      44.58   51.69  47.87
31        gpt-4o    owl      obo_format      44.34   52.05  47.89
32        gpt-4o    owl          jsonld      44.92   51.75  48.09
39   gpt-4o-mini    owl      ttl_syntax      44.00   45.59  44.78
40   gpt-4o-mini    owl         owl_xml      44.46   46.07  45.26
41   gpt-4o-mini    owl  manchester_owl      44.52   46.14  45.31
42   gpt-4o-mini    owl       owl_funct      43.72   46.26  44.95
43   gpt-4o-mini    owl         rdf_xml      42.71   47.04  44.77
44   gpt-4o-mini    owl      obo_format      42.17   45.83  43.92
45   gpt-4o-mini    owl          jsonld      43.79   48.55  46.05
52      llama_8b    owl      ttl_syntax      36.30   47.34  41.09
53      llama_8b    owl         owl_xml      35.78   48.49  41.18
54      llama_8b    owl  manchester_owl      38.43   47.34  42.42
55      llama_8b    owl       owl_funct      35.68   47.83  40.87
56      llama_8b    owl         rdf_xml      37.27   48.07  41.98
57      llama_8b    owl      obo_format      35.53   48.91  41.16
58      llama_8b    owl          jsonld      36.59   47.46  41.32
65    gemma2_27b    owl      ttl_syntax      46.71   51.45  48.97
66    gemma2_27b    owl         owl_xml      45.51   51.45  48.30
67    gemma2_27b    owl  manchester_owl      44.27   50.36  47.12
68    gemma2_27b    owl       owl_funct      43.19   49.76  46.24
69    gemma2_27b    owl         rdf_xml      43.08   49.64  46.13
70    gemma2_27b    owl      obo_format      44.57   51.99  47.99
71    gemma2_27b    owl          jsonld      44.90   51.09  47.80
78     llama_70b    owl      ttl_syntax      35.63   52.42  42.42
79     llama_70b    owl         owl_xml      34.65   50.72  41.18
80     llama_70b    owl  manchester_owl      35.08   52.11  41.93
81     llama_70b    owl       owl_funct      36.38   52.72  43.05
82     llama_70b    owl         rdf_xml      35.88   52.78  42.72
83     llama_70b    owl      obo_format      37.54   51.69  43.50
84     llama_70b    owl          jsonld      36.81   51.21  42.83
91    mistral_7b    owl      ttl_syntax      35.69   43.96  39.39
92    mistral_7b    owl         owl_xml      37.66   43.66  40.44
93    mistral_7b    owl  manchester_owl      36.91   43.60  39.98
94    mistral_7b    owl       owl_funct      36.82   42.69  39.54
95    mistral_7b    owl         rdf_xml      36.67   42.51  39.37
96    mistral_7b    owl      obo_format      36.36   44.26  39.92
97    mistral_7b    owl          jsonld      37.86   44.44  40.89

In [8]:
natlang_res

            model   prompt       variation  precision  recall     f1
7       gemma2_9b  natlang  eg_desc_format      48.62   48.97  48.80
8       gemma2_9b  natlang  desc_format_eg      44.54   48.73  46.54
9       gemma2_9b  natlang  desc_eg_format      46.06   49.40  47.67
10      gemma2_9b  natlang  format_eg_desc      46.24   44.57  45.39
11      gemma2_9b  natlang  eg_format_desc      48.84   48.49  48.67
12      gemma2_9b  natlang  format_desc_eg      44.86   47.46  46.13
20   mixtral_8x7b  natlang  eg_desc_format      37.89   50.24  43.20
21   mixtral_8x7b  natlang  desc_format_eg      37.22   48.55  42.14
22   mixtral_8x7b  natlang  desc_eg_format      36.36   47.95  41.35
23   mixtral_8x7b  natlang  format_eg_desc      37.81   48.49  42.49
24   mixtral_8x7b  natlang  eg_format_desc      37.73   49.21  42.71
25   mixtral_8x7b  natlang  format_desc_eg      35.76   48.97  41.34
33         gpt-4o  natlang  eg_desc_format      46.02   53.02  49.27
34         gpt-4o  natlang  desc_format_eg      41.96   51.69  46.32
35         gpt-4o  natlang  desc_eg_format      45.24   52.78  48.72
36         gpt-4o  natlang  format_eg_desc      42.74   52.96  47.30
37         gpt-4o  natlang  eg_format_desc      46.04   53.38  49.44
38         gpt-4o  natlang  format_desc_eg      44.16   52.48  47.96
46    gpt-4o-mini  natlang  eg_desc_format      44.19   48.67  46.32
47    gpt-4o-mini  natlang  desc_format_eg      42.70   47.34  44.90
48    gpt-4o-mini  natlang  desc_eg_format      43.60   47.71  45.56
49    gpt-4o-mini  natlang  format_eg_desc      44.87   49.09  46.89
50    gpt-4o-mini  natlang  eg_format_desc      45.75   49.40  47.50
51    gpt-4o-mini  natlang  format_desc_eg      41.72   47.46  44.41
59       llama_8b  natlang  eg_desc_format      29.68   47.52  36.54
60       llama_8b  natlang  desc_format_eg      34.84   51.51  41.57
61       llama_8b  natlang  desc_eg_format      32.13   48.43  38.63
62       llama_8b  natlang  format_eg_desc      27.05   32.73  29.62
63       llama_8b  natlang  eg_format_desc      30.71   47.40  37.27
64       llama_8b  natlang  format_desc_eg      33.81   50.97  40.66
72     gemma2_27b  natlang  eg_desc_format      43.43   51.93  47.30
73     gemma2_27b  natlang  desc_format_eg      43.27   50.48  46.60
74     gemma2_27b  natlang  desc_eg_format      44.03   52.96  48.08
75     gemma2_27b  natlang  format_eg_desc      40.82   49.40  44.70
76     gemma2_27b  natlang  eg_format_desc      43.43   51.93  47.30
77     gemma2_27b  natlang  format_desc_eg      41.97   50.79  45.96
85      llama_70b  natlang  eg_desc_format      32.30   52.66  40.04
86      llama_70b  natlang  desc_format_eg      29.71   54.05  38.35
87      llama_70b  natlang  desc_eg_format      31.12   52.54  39.08
88      llama_70b  natlang  format_eg_desc      30.60   52.11  38.56
89      llama_70b  natlang  eg_format_desc      28.79   50.91  36.78
90      llama_70b  natlang  format_desc_eg      29.05   52.42  37.38
98     mistral_7b  natlang  eg_desc_format      36.22   46.98  40.90
99     mistral_7b  natlang  desc_format_eg      36.93   44.69  40.44
100    mistral_7b  natlang  desc_eg_format      37.58   42.75  40.00
101    mistral_7b  natlang  format_eg_desc      38.92   45.41  41.92
102    mistral_7b  natlang  eg_format_desc      36.21   45.65  40.38
103    mistral_7b  natlang  format_desc_eg      37.85   45.53  41.34

In [9]:
best_preds_owl = owl_res[owl_res['variation']=='jsonld'][['model', 'precision', 'recall', 'f1']]
best_preds_natlang = natlang_res[natlang_res['variation']=='eg_desc_format'][['model', 'precision', 'recall', 'f1']]

In [10]:
best_preds_owl

           model  precision  recall     f1
6      gemma2_9b      44.76   46.38  45.55
19  mixtral_8x7b      38.37   49.21  43.12
32        gpt-4o      44.92   51.75  48.09
45   gpt-4o-mini      43.79   48.55  46.05
58      llama_8b      36.59   47.46  41.32
71    gemma2_27b      44.90   51.09  47.80
84     llama_70b      36.81   51.21  42.83
97    mistral_7b      37.86   44.44  40.89

In [11]:
best_preds_natlang

           model  precision  recall     f1
7      gemma2_9b      48.62   48.97  48.80
20  mixtral_8x7b      37.89   50.24  43.20
33        gpt-4o      46.02   53.02  49.27
46   gpt-4o-mini      44.19   48.67  46.32
59      llama_8b      29.68   47.52  36.54
72    gemma2_27b      43.43   51.93  47.30
85     llama_70b      32.30   52.66  40.04
98    mistral_7b      36.22   46.98  40.90

In [12]:
sorted_res = best_preds_natlang.merge(best_preds_owl, on="model", how="inner")#.iloc[[4, 6, 7, 1, 0, 5, 3, 2],:]

In [13]:
sorted_res

          model  precision_x  recall_x   f1_x  precision_y  recall_y   f1_y
0     gemma2_9b        48.62     48.97  48.80        44.76     46.38  45.55
1  mixtral_8x7b        37.89     50.24  43.20        38.37     49.21  43.12
2        gpt-4o        46.02     53.02  49.27        44.92     51.75  48.09
3   gpt-4o-mini        44.19     48.67  46.32        43.79     48.55  46.05
4      llama_8b        29.68     47.52  36.54        36.59     47.46  41.32
5    gemma2_27b        43.43     51.93  47.30        44.90     51.09  47.80
6     llama_70b        32.30     52.66  40.04        36.81     51.21  42.83
7    mistral_7b        36.22     46.98  40.90        37.86     44.44  40.89

In [14]:
mean_res = sorted_res.iloc[:, 1:].mean(axis='rows')
std_res = sorted_res.iloc[:, 1:].std(axis='rows')

" & ".join([f'{round(m, 2)} $\pm$ {round(sdev, 2)}' for m, sdev in zip(mean_res, std_res)])
# .mean(axis='columns')

'39.79 $\\pm$ 6.8 & 50.0 $\\pm$ 2.33 & 44.05 $\\pm$ 4.61 & 41.0 $\\pm$ 3.9 & 48.76 $\\pm$ 2.58 & 44.46 $\\pm$ 2.81'

In [15]:
for row in sorted_res.values:
    print(" & ".join([str(v) for v in row][1:])+r'\\')

48.62 & 48.97 & 48.8 & 44.76 & 46.38 & 45.55\\
37.89 & 50.24 & 43.2 & 38.37 & 49.21 & 43.12\\
46.02 & 53.02 & 49.27 & 44.92 & 51.75 & 48.09\\
44.19 & 48.67 & 46.32 & 43.79 & 48.55 & 46.05\\
29.68 & 47.52 & 36.54 & 36.59 & 47.46 & 41.32\\
43.43 & 51.93 & 47.3 & 44.9 & 51.09 & 47.8\\
32.3 & 52.66 & 40.04 & 36.81 & 51.21 & 42.83\\
36.22 & 46.98 & 40.9 & 37.86 & 44.44 & 40.89\\

In [16]:
owl_rearg = owl_res.pivot_table(values='f1', index=['model'], columns='variation')

In [17]:
natlang_rearg = natlang_res.pivot_table(values='f1', index=['model'], columns='variation')

In [19]:
owl_rearg

variation,jsonld,manchester_owl,obo_format,owl_funct,owl_xml,rdf_xml,ttl_syntax
model,,,,,,,
gemma2_27b,47.80,47.12,47.99,46.24,48.30,46.13,48.97
gemma2_9b,45.55,45.63,45.10,36.40,45.15,37.07,45.64
gpt-4o,48.09,47.01,47.89,48.04,46.67,47.87,48.44
gpt-4o-mini,46.05,45.31,43.92,44.95,45.26,44.77,44.78
llama_70b,42.83,41.93,43.50,43.05,41.18,42.72,42.42
llama_8b,41.32,42.42,41.16,40.87,41.18,41.98,41.09
mistral_7b,40.89,39.98,39.92,39.54,40.44,39.37,39.39
mixtral_8x7b,43.12,42.32,41.98,41.88,42.19,40.99,42.80

In [20]:
m_values_row = owl_rearg.agg("mean", axis="columns").values.round(2)
sdev_values_row = owl_rearg.agg(np.std, axis="columns").values.round(2)

owl_rearg['mean std'] = [f'{mn} \u00b1 {sdev}' for mn, sdev in zip(m_values_row, sdev_values_row)]

In [21]:
mean_cols = owl_rearg.mean(axis='rows')
std_cols = owl_rearg.std(axis='rows')
owl_rearg.loc['mean_std'] = [f'{round(m,2)} \u00b1 {round(sdev,2)}' for m,sdev in zip(mean_cols, std_cols)] + ['']

/var/folders/kr/021dhy4100546918_56lpp4m0000gn/T/ipykernel_45238/3739956305.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_cols = owl_rearg.mean(axis='rows')
/var/folders/kr/021dhy4100546918_56lpp4m0000gn/T/ipykernel_45238/3739956305.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std_cols = owl_rearg.std(axis='rows')

In [22]:
owl_rearg

variation,jsonld,manchester_owl,obo_format,owl_funct,owl_xml,rdf_xml,ttl_syntax,mean std
model,,,,,,,,
gemma2_27b,47.8,47.12,47.99,46.24,48.3,46.13,48.97,47.51 ± 1.06
gemma2_9b,45.55,45.63,45.1,36.4,45.15,37.07,45.64,42.93 ± 4.24
gpt-4o,48.09,47.01,47.89,48.04,46.67,47.87,48.44,47.72 ± 0.63
gpt-4o-mini,46.05,45.31,43.92,44.95,45.26,44.77,44.78,45.01 ± 0.65
llama_70b,42.83,41.93,43.5,43.05,41.18,42.72,42.42,42.52 ± 0.77
llama_8b,41.32,42.42,41.16,40.87,41.18,41.98,41.09,41.43 ± 0.56
mistral_7b,40.89,39.98,39.92,39.54,40.44,39.37,39.39,39.93 ± 0.57
mixtral_8x7b,43.12,42.32,41.98,41.88,42.19,40.99,42.8,42.18 ± 0.69
mean_std,44.46 ± 2.81,43.96 ± 2.64,43.93 ± 2.96,42.62 ± 3.78,43.8 ± 2.93,42.61 ± 3.56,44.19 ± 3.4,

In [23]:
natlang_rearg

variation,desc_eg_format,desc_format_eg,eg_desc_format,eg_format_desc,format_desc_eg,format_eg_desc
model,,,,,,
gemma2_27b,48.08,46.60,47.30,47.30,45.96,44.70
gemma2_9b,47.67,46.54,48.80,48.67,46.13,45.39
gpt-4o,48.72,46.32,49.27,49.44,47.96,47.30
gpt-4o-mini,45.56,44.90,46.32,47.50,44.41,46.89
llama_70b,39.08,38.35,40.04,36.78,37.38,38.56
llama_8b,38.63,41.57,36.54,37.27,40.66,29.62
mistral_7b,40.00,40.44,40.90,40.38,41.34,41.92
mixtral_8x7b,41.35,42.14,43.20,42.71,41.34,42.49

In [24]:
m_values_row = natlang_rearg.agg("mean", axis="columns").values.round(2)
sdev_values_row = natlang_rearg.agg(np.std, axis="columns").values.round(2)

natlang_rearg['mean std'] = [f'{mn} \u00b1 {sdev}' for mn, sdev in zip(m_values_row, sdev_values_row)]

In [25]:
mean_cols = natlang_rearg.mean(axis='rows')
std_cols = natlang_rearg.std(axis='rows')
natlang_rearg.loc['mean_std'] = [f'{round(m,2)} \u00b1 {round(sdev,2)}' for m,sdev in zip(mean_cols, std_cols)] + ['']

/var/folders/kr/021dhy4100546918_56lpp4m0000gn/T/ipykernel_45238/2188248377.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_cols = natlang_rearg.mean(axis='rows')
/var/folders/kr/021dhy4100546918_56lpp4m0000gn/T/ipykernel_45238/2188248377.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std_cols = natlang_rearg.std(axis='rows')

In [26]:
natlang_rearg

variation,desc_eg_format,desc_format_eg,eg_desc_format,eg_format_desc,format_desc_eg,format_eg_desc,mean std
model,,,,,,,
gemma2_27b,48.08,46.6,47.3,47.3,45.96,44.7,46.66 ± 1.2
gemma2_9b,47.67,46.54,48.8,48.67,46.13,45.39,47.2 ± 1.4
gpt-4o,48.72,46.32,49.27,49.44,47.96,47.3,48.17 ± 1.21
gpt-4o-mini,45.56,44.9,46.32,47.5,44.41,46.89,45.93 ± 1.19
llama_70b,39.08,38.35,40.04,36.78,37.38,38.56,38.36 ± 1.17
llama_8b,38.63,41.57,36.54,37.27,40.66,29.62,37.38 ± 4.26
mistral_7b,40.0,40.44,40.9,40.38,41.34,41.92,40.83 ± 0.71
mixtral_8x7b,41.35,42.14,43.2,42.71,41.34,42.49,42.21 ± 0.75
mean_std,43.64 ± 4.31,43.36 ± 3.16,44.05 ± 4.61,43.76 ± 5.16,43.15 ± 3.54,42.11 ± 5.81,